In [2]:
import pandas as pd
pd.options.display.max_columns = 99

## Guided Project - Practice Optimizing Dataframes and Processing in Chunks

In [4]:
data = pd.read_csv('loans_2007.csv',low_memory=False)
data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [5]:
thousand_rows = pd.read_csv('loans_2007.csv',nrows=1000)
thousand_rows.memory_usage(deep=True)

Index                            80
id                             8000
member_id                      8000
loan_amnt                      8000
funded_amnt                    8000
funded_amnt_inv                8000
term                          67000
int_rate                      64000
installment                    8000
grade                         66000
sub_grade                     59000
emp_title                     73464
emp_length                    63923
home_ownership                62237
annual_inc                     8000
verification_status           68351
issue_d                       65000
loan_status                   66985
pymnt_plan                    66000
purpose                       71313
title                         73411
zip_code                      62000
addr_state                    59000
dti                            8000
delinq_2yrs                    8000
earliest_cr_line              65000
inq_last_6mths                 8000
open_acc                       8000
pub_rec                        8000
revol_bal                      8000
revol_util                    61781
total_acc                      8000
initial_list_status           66000
out_prncp                      8000
out_prncp_inv                  8000
total_pymnt                    8000
total_pymnt_inv                8000
total_rec_prncp                8000
total_rec_int                  8000
total_rec_late_fee             8000
recoveries                     8000
collection_recovery_fee        8000
last_pymnt_d                  64967
last_pymnt_amnt                8000
last_credit_pull_d            65000
collections_12_mths_ex_med     8000
policy_code                    8000
application_type              67000
acc_now_delinq                 8000
chargeoff_within_12_mths       8000
delinq_amnt                    8000
pub_rec_bankruptcies           8000
tax_liens                      8000
dtype: int64

In [6]:
thousand_rows.memory_usage(deep=True).sum()

1625512

In [7]:
thousand_rows.memory_usage(deep=True).sum()/(1024*1024)

1.5502090454101562

## Exploring the data in chunk

In [16]:
chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

for index,chunk in enumerate(chunks):
    memory = chunk.memory_usage(deep=True).sum()/(1024*1024)
    number_rows = len(chunk)                                              
    print('Chunkn n° {} - Memory size : {}- Number of rows : {}'.format(index+1,round(memory,2),number_rows))

Chunkn n° 1 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 2 - Memory size : 4.64- Number of rows : 3000
Chunkn n° 3 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 4 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 5 - Memory size : 4.64- Number of rows : 3000
Chunkn n° 6 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 7 - Memory size : 4.64- Number of rows : 3000
Chunkn n° 8 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 9 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 10 - Memory size : 4.65- Number of rows : 3000
Chunkn n° 11 - Memory size : 4.66- Number of rows : 3000
Chunkn n° 12 - Memory size : 4.66- Number of rows : 3000
Chunkn n° 13 - Memory size : 4.66- Number of rows : 3000
Chunkn n° 14 - Memory size : 4.9- Number of rows : 3000
Chunkn n° 15 - Memory size : 0.88- Number of rows : 538

In [20]:
chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

for chunk in chunks:
    print(chunk.dtypes.value_counts())

float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     22
dtype: int64
float64    30
object     22
dtype: int64

In [28]:
cols_unique_values = dict()

chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

for chunk in chunks:
    cols_string = chunk.select_dtypes(include=['object']).columns.tolist()
    for col in cols_string :
        try:
            cols_unique_values[col].append(len(chunk[col].unique()))
        except:
            cols_unique_values[col] = list()
            cols_unique_values[col].append(len(chunk[col].unique()))
            
for cols in cols_unique_values.keys():
    print('--'*20)
    print(cols)
    print('--'*20)
    print(cols_unique_values[cols])
    print('--'*20)

----------------------------------------
emp_title
----------------------------------------
[2654, 2589, 2593, 2599, 2591, 2649, 2601, 2498, 2661, 2655, 2645, 2555, 2599, 2606, 478]
----------------------------------------
----------------------------------------
grade
----------------------------------------
[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8]
----------------------------------------
----------------------------------------
initial_list_status
----------------------------------------
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2]
----------------------------------------
----------------------------------------
application_type
----------------------------------------
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2]
----------------------------------------
----------------------------------------
purpose
----------------------------------------
[13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 15, 14]
----------------------------------------
----------------------------------------
verification_status
----------------------------------------
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2]
----------------------------------------
----------------------------------------
last_credit_pull_d
----------------------------------------
[55, 57, 59, 59, 61, 62, 65, 67, 71, 72, 77, 83, 97, 106, 90]
----------------------------------------
----------------------------------------
sub_grade
----------------------------------------
[35, 35, 34, 35, 35, 35, 35, 35, 35, 34, 34, 35, 35, 36, 36]
----------------------------------------
----------------------------------------
revol_util
----------------------------------------
[884, 952, 951, 940, 950, 956, 949, 953, 959, 943, 949, 951, 930, 955, 380]
----------------------------------------
----------------------------------------
addr_state
----------------------------------------
[43, 45, 43, 43, 43, 43, 43, 43, 43, 42, 41, 42, 47, 51, 43]
----------------------------------------
----------------------------------------
issue_d
----------------------------------------
[2, 3, 3, 3, 3, 3, 4, 3, 4, 4, 5, 7, 17, 44, 10]
----------------------------------------
----------------------------------------
int_rate
----------------------------------------
[36, 36, 66, 37, 73, 68, 45, 65, 68, 50, 60, 65, 107, 263, 87]
----------------------------------------
----------------------------------------
emp_length
----------------------------------------
[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 11, 11, 12, 12]
----------------------------------------
----------------------------------------
last_pymnt_d
----------------------------------------
[55, 57, 58, 60, 61, 63, 65, 66, 67, 66, 54, 51, 60, 97, 46]
----------------------------------------
----------------------------------------
loan_status
----------------------------------------
[6, 6, 5, 6, 6, 4, 4, 3, 4, 2, 2, 2, 2, 5, 3]
----------------------------------------
----------------------------------------
earliest_cr_line
----------------------------------------
[366, 399, 401, 383, 391, 383, 385, 387, 374, 367, 363, 373, 366, 382, 219]
----------------------------------------
----------------------------------------
pymnt_plan
----------------------------------------
[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2]
----------------------------------------
----------------------------------------
term
----------------------------------------
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 3, 2]
----------------------------------------
----------------------------------------
zip_code
----------------------------------------
[568, 570, 571, 559, 568, 578, 551, 558, 555, 524, 527, 538, 574, 610, 268]
----------------------------------------
----------------------------------------
title
----------------------------------------
[1406, 1454, 1464, 1511, 1610, 1775, 1958, 1919, 1882, 2140, 2426, 2335, 2298, 2288, 463]
----------------------------------------
----------------------------------------
home_ownership
----------------------------------------
[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 4, 4, 4, 6, 5]
----------------------------------------
----------------------------------------
id
----------------------------------------
[3000, 538]
----------------------------------------

In [29]:
chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

for index,chunk in enumerate(chunks):
    for col in chunk.columns.tolist():
        if chunk[col].isna().sum()>0:
            print('Chunk n° {} - Column {} - Missing values : {}'.format(index,
                                                                         col,
                                                                         chunk[col].isna().sum()))

Chunk n° 0 - Column emp_title - Missing values : 171
Chunk n° 0 - Column emp_length - Missing values : 83
Chunk n° 0 - Column last_pymnt_d - Missing values : 2
Chunk n° 1 - Column emp_title - Missing values : 233
Chunk n° 1 - Column emp_length - Missing values : 128
Chunk n° 1 - Column revol_util - Missing values : 3
Chunk n° 1 - Column last_pymnt_d - Missing values : 5
Chunk n° 2 - Column emp_title - Missing values : 192
Chunk n° 2 - Column emp_length - Missing values : 118
Chunk n° 2 - Column last_pymnt_d - Missing values : 8
Chunk n° 3 - Column emp_title - Missing values : 191
Chunk n° 3 - Column emp_length - Missing values : 101
Chunk n° 3 - Column revol_util - Missing values : 1
Chunk n° 3 - Column last_pymnt_d - Missing values : 6
Chunk n° 4 - Column emp_title - Missing values : 208
Chunk n° 4 - Column emp_length - Missing values : 107
Chunk n° 4 - Column revol_util - Missing values : 3
Chunk n° 4 - Column last_pymnt_d - Missing values : 9
Chunk n° 5 - Column emp_title - Missing values : 180
Chunk n° 5 - Column emp_length - Missing values : 91
Chunk n° 5 - Column last_pymnt_d - Missing values : 4
Chunk n° 6 - Column emp_title - Missing values : 218
Chunk n° 6 - Column emp_length - Missing values : 106
Chunk n° 6 - Column revol_util - Missing values : 2
Chunk n° 6 - Column last_pymnt_d - Missing values : 4
Chunk n° 7 - Column emp_title - Missing values : 180
Chunk n° 7 - Column emp_length - Missing values : 94
Chunk n° 7 - Column revol_util - Missing values : 1
Chunk n° 7 - Column last_pymnt_d - Missing values : 1
Chunk n° 8 - Column emp_title - Missing values : 162
Chunk n° 8 - Column emp_length - Missing values : 90
Chunk n° 8 - Column title - Missing values : 1
Chunk n° 8 - Column revol_util - Missing values : 8
Chunk n° 8 - Column last_pymnt_d - Missing values : 4
Chunk n° 8 - Column last_credit_pull_d - Missing values : 1
Chunk n° 9 - Column emp_title - Missing values : 142
Chunk n° 9 - Column emp_length - Missing values : 82
Chunk n° 9 - Column title - Missing values : 7
Chunk n° 9 - Column revol_util - Missing values : 6
Chunk n° 9 - Column last_pymnt_d - Missing values : 6
Chunk n° 10 - Column emp_title - Missing values : 196
Chunk n° 10 - Column emp_length - Missing values : 78
Chunk n° 10 - Column title - Missing values : 2
Chunk n° 10 - Column revol_util - Missing values : 3
Chunk n° 10 - Column last_pymnt_d - Missing values : 8
Chunk n° 11 - Column emp_title - Missing values : 239
Chunk n° 11 - Column revol_util - Missing values : 6
Chunk n° 11 - Column last_pymnt_d - Missing values : 9
Chunk n° 11 - Column pub_rec_bankruptcies - Missing values : 3
Chunk n° 12 - Column emp_title - Missing values : 109
Chunk n° 12 - Column title - Missing values : 1
Chunk n° 12 - Column revol_util - Missing values : 15
Chunk n° 12 - Column last_pymnt_d - Missing values : 5
Chunk n° 12 - Column pub_rec_bankruptcies - Missing values : 4
Chunk n° 13 - Column member_id - Missing values : 1
Chunk n° 13 - Column loan_amnt - Missing values : 1
Chunk n° 13 - Column funded_amnt - Missing values : 1
Chunk n° 13 - Column funded_amnt_inv - Missing values : 1
Chunk n° 13 - Column term - Missing values : 1
Chunk n° 13 - Column int_rate - Missing values : 1
Chunk n° 13 - Column installment - Missing values : 1
Chunk n° 13 - Column grade - Missing values : 1
Chunk n° 13 - Column sub_grade - Missing values : 1
Chunk n° 13 - Column emp_title - Missing values : 169
Chunk n° 13 - Column emp_length - Missing values : 35
Chunk n° 13 - Column home_ownership - Missing values : 1
Chunk n° 13 - Column annual_inc - Missing values : 1
Chunk n° 13 - Column verification_status - Missing values : 1
Chunk n° 13 - Column issue_d - Missing values : 1
Chunk n° 13 - Column loan_status - Missing values : 1
Chunk n° 13 - Column pymnt_plan - Missing values : 1
Chunk n° 13 - Column purpose - Missing values : 1
Chunk n° 13 - Column title - Missing values : 3
Chunk n° 13 - Column zip_code - Missing values : 1
Chunk n° 13 - Column addr_state - Missing values : 1
Chunk n° 13 - Column dti - Missing values : 1
Chunk n° 13 - Column delinq_2yrs - Missing values : 1
Chunk n° 13 - Column earliest_cr_line - Missing values : 1
Chunk n° 13 - Column inq_last_6mths - Missing values : 1
Chunk n° 13 - Column open_acc - Missing values : 1
Chunk n° 13 - Column pub_rec - Missing values : 1
Chunk n° 13 - Column revol_bal - Missing values : 1
Chunk n° 13 - Column revol_util - Missing values : 11
Chunk n° 13 - Column total_acc - Missing values : 1
Chunk n° 13 - Column initial_list_status - Missing values : 1
Chunk n° 13 - Column out_prncp - Missing values : 1
Chunk n° 13 - Column out_prncp_inv - Missing values : 1
Chunk n° 13 - Column total_pymnt - Missing values : 1
Chunk n° 13 - Column total_pymnt_inv - Missing values : 1
Chunk n° 13 - Column total_rec_prncp - Missing values : 1
Chunk n° 13 - Column total_rec_int - Missing values : 1
Chunk n° 13 - Column total_rec_late_fee - Missing values : 1
Chunk n° 13 - Column recoveries - Missing values : 1
Chunk n° 13 - Column collection_recovery_fee - Missing values : 1
Chunk n° 13 - Column last_pymnt_d - Missing values : 13
Chunk n° 13 - Column last_pymnt_amnt - Missing values : 1
Chunk n° 13 - Column last_credit_pull_d - Missing values : 2
Chunk n° 13 - Column collections_12_mths_ex_med - Missing values : 57
Chunk n° 13 - Column policy_code - Missing values : 1
Chunk n° 13 - Column application_type - Missing values : 1
Chunk n° 13 - Column acc_now_delinq - Missing values : 1
Chunk n° 13 - Column chargeoff_within_12_mths - Missing values : 57
Chunk n° 13 - Column delinq_amnt - Missing values : 1
Chunk n° 13 - Column pub_rec_bankruptcies - Missing values : 849
Chunk n° 13 - Column tax_liens - Missing values : 40
Chunk n° 14 - Column member_id - Missing values : 2
Chunk n° 14 - Column loan_amnt - Missing values : 2
Chunk n° 14 - Column funded_amnt - Missing values : 2
Chunk n° 14 - Column funded_amnt_inv - Missing values : 2
Chunk n° 14 - Column term - Missing values : 2
Chunk n° 14 - Column int_rate - Missing values : 2
Chunk n° 14 - Column installment - Missing values : 2
Chunk n° 14 - Column grade - Missing values : 2
Chunk n° 14 - Column sub_grade - Missing values : 2
Chunk n° 14 - Column emp_title - Missing values : 39
Chunk n° 14 - Column emp_length - Missing values : 2
Chunk n° 14 - Column home_ownership - Missing values : 2
Chunk n° 14 - Column annual_inc - Missing values : 6
Chunk n° 14 - Column verification_status - Missing values : 2
Chunk n° 14 - Column issue_d - Missing values : 2
Chunk n° 14 - Column loan_status - Missing values : 2
Chunk n° 14 - Column pymnt_plan - Missing values : 2
Chunk n° 14 - Column purpose - Missing values : 2
Chunk n° 14 - Column title - Missing values : 2
Chunk n° 14 - Column zip_code - Missing values : 2
Chunk n° 14 - Column addr_state - Missing values : 2
Chunk n° 14 - Column dti - Missing values : 2
Chunk n° 14 - Column delinq_2yrs - Missing values : 31
Chunk n° 14 - Column earliest_cr_line - Missing values : 31
Chunk n° 14 - Column inq_last_6mths - Missing values : 31
Chunk n° 14 - Column open_acc - Missing values : 31
Chunk n° 14 - Column pub_rec - Missing values : 31
Chunk n° 14 - Column revol_bal - Missing values : 2
Chunk n° 14 - Column revol_util - Missing values : 34
Chunk n° 14 - Column total_acc - Missing values : 31
Chunk n° 14 - Column initial_list_status - Missing values : 2
Chunk n° 14 - Column out_prncp - Missing values : 2
Chunk n° 14 - Column out_prncp_inv - Missing values : 2
Chunk n° 14 - Column total_pymnt - Missing values : 2
Chunk n° 14 - Column total_pymnt_inv - Missing values : 2
Chunk n° 14 - Column total_rec_prncp - Missing values : 2
Chunk n° 14 - Column total_rec_int - Missing values : 2
Chunk n° 14 - Column total_rec_late_fee - Missing values : 2
Chunk n° 14 - Column recoveries - Missing values : 2
Chunk n° 14 - Column collection_recovery_fee - Missing values : 2
Chunk n° 14 - Column last_pymnt_d - Missing values : 2
Chunk n° 14 - Column last_pymnt_amnt - Missing values : 2
Chunk n° 14 - Column last_credit_pull_d - Missing values : 4
Chunk n° 14 - Column collections_12_mths_ex_med - Missing values : 91
Chunk n° 14 - Column policy_code - Missing values : 2
Chunk n° 14 - Column application_type - Missing values : 2
Chunk n° 14 - Column acc_now_delinq - Missing values : 31
Chunk n° 14 - Column chargeoff_within_12_mths - Missing values : 91
Chunk n° 14 - Column delinq_amnt - Missing values : 31
Chunk n° 14 - Column pub_rec_bankruptcies - Missing values : 512
Chunk n° 14 - Column tax_liens - Missing values : 68

## Optimizing String Columns

In [36]:
chunks = pd.read_csv('loans_2007.csv',chunksize=3000)
candidates_category = list()

for index,chunk in enumerate(chunks):
    for col in chunk.columns.tolist():
        number_values_unique = len(chunk[col].unique())
        number_values = len(chunk[col])-chunk[col].isna().sum()
        ratio = round(number_values_unique / number_values,4)*100

        if ratio <0.1:
            candidates_category.append(col)
            
category_cols = set(candidates_category)            

print(category_cols)

{'out_prncp', 'pub_rec', 'acc_now_delinq', 'pub_rec_bankruptcies', 'initial_list_status', 'pymnt_plan', 'application_type', 'chargeoff_within_12_mths', 'delinq_amnt', 'collections_12_mths_ex_med', 'policy_code', 'term', 'out_prncp_inv', 'tax_liens', 'issue_d', 'loan_status'}

In [37]:
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

In [41]:
chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

for index,chunk in enumerate(chunks):
    chunk['int_rate'] = chunk['int_rate'].str.replace('%','').astype('float')
    chunk['int_rate'] = chunk['int_rate'].fillna(chunk['int_rate'].mean())
    print(round(chunk['int_rate'].mean(),2))

13.11
12.4
11.86
12.35
12.35
12.08
11.74
10.73
12.03
12.32
11.64
12.21
11.88
13.42
13.13

## Optimizing Numeric Columns

In [43]:
chunk_iter = pd.read_csv('loans_2007.csv', 
                         chunksize=3000, 
                         dtype=convert_col_dtypes, 
                         parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])

for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    
chunk.dtypes.sort_index()

acc_now_delinq                       float64
addr_state                            object
annual_inc                           float64
application_type                      object
chargeoff_within_12_mths             float64
collection_recovery_fee              float64
collections_12_mths_ex_med           float64
delinq_2yrs                          float64
delinq_amnt                          float64
dti                                  float64
earliest_cr_line              datetime64[ns]
emp_length                            object
emp_title                             object
funded_amnt                          float64
funded_amnt_inv                      float64
grade                                 object
home_ownership                      category
id                                    object
initial_list_status                   object
inq_last_6mths                       float64
installment                          float64
int_rate                              object
issue_d                       datetime64[ns]
last_credit_pull_d            datetime64[ns]
last_pymnt_amnt                      float64
last_pymnt_d                  datetime64[ns]
loan_amnt                            float64
loan_status                           object
member_id                            float64
open_acc                             float64
out_prncp                            float64
out_prncp_inv                        float64
policy_code                          float64
pub_rec                              float64
pub_rec_bankruptcies                 float64
purpose                             category
pymnt_plan                            object
recoveries                           float64
revol_bal                            float64
revol_util                           float64
sub_grade                           category
tax_liens                            float64
term                                 float64
title                                 object
total_acc                            float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
total_rec_prncp                      float64
verification_status                 category
zip_code                              object
dtype: object

In [53]:
chunk_iter = pd.read_csv('loans_2007.csv', 
                         chunksize=3000, 
                         dtype=convert_col_dtypes, 
                         parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])

missing_values = dict()
total_memory = list()

for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    
    memory = chunk.memory_usage(deep=True).sum()/(1024*1024)
    total_memory.append(memory)
    
    cols_float = chunk.select_dtypes(include='float')
    
    for col in cols_float:
        missing = chunk[col].isna().sum()
        try:
            missing_values[col]+=missing
        except:
            missing_values[col]=missing

print('Total Memory : {}'.format(round(sum(total_memory),2)))            
print('--'*20) 

for key,value in missing_values.items():
    print('{} : {} missing value(s)'.format(key,value))

Total Memory : 42.06
term : 3 missing value(s)
pub_rec : 32 missing value(s)
chargeoff_within_12_mths : 148 missing value(s)
recoveries : 3 missing value(s)
revol_bal : 3 missing value(s)
out_prncp : 3 missing value(s)
policy_code : 3 missing value(s)
out_prncp_inv : 3 missing value(s)
delinq_2yrs : 32 missing value(s)
inq_last_6mths : 32 missing value(s)
revol_util : 93 missing value(s)
collections_12_mths_ex_med : 148 missing value(s)
last_pymnt_amnt : 3 missing value(s)
member_id : 3 missing value(s)
total_rec_late_fee : 3 missing value(s)
open_acc : 32 missing value(s)
acc_now_delinq : 32 missing value(s)
total_pymnt : 3 missing value(s)
funded_amnt : 3 missing value(s)
pub_rec_bankruptcies : 1368 missing value(s)
annual_inc : 7 missing value(s)
total_pymnt_inv : 3 missing value(s)
installment : 3 missing value(s)
delinq_amnt : 32 missing value(s)
funded_amnt_inv : 3 missing value(s)
dti : 3 missing value(s)
total_acc : 32 missing value(s)
tax_liens : 108 missing value(s)
loan_amnt : 3 missing value(s)
collection_recovery_fee : 3 missing value(s)
total_rec_prncp : 3 missing value(s)
total_rec_int : 3 missing value(s)