In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import bq_helper

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

[]

In [2]:
# create a helper object for our bigquery dataset
hacker_news = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                       dataset_name = "hacker_news")

In [3]:
# print a list of all the tables in the hacker_news dataset
hacker_news.list_tables()

['comments', 'full', 'full_201510', 'stories']

In [4]:
hacker_news.table_schema("comments")

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [5]:
hacker_news.head("full")

            by score        time   ...   descendants        id ranking
0         e12e  None  1401901749   ...          None   7846752    None
1          pja  None  1364125713   ...          None   5431785    None
2          hvs  None  1242152578   ...          None    605908    None
3  user5994461  None  1493321626   ...          None  14214069    None
4   uptownfunk  None  1502496795   ...          None  14995506    None

[5 rows x 14 columns]

In [6]:
hacker_news.head("full", selected_columns="by", num_rows=10)

              by
0           e12e
1            pja
2            hvs
3    user5994461
4     uptownfunk
5         pyoung
6   AnthonyMouse
7        ilikepi
8  puppetmaster3
9     wccrawford

In [7]:
# this query looks in the full table in the hacker_news
# dataset, then gets the score column from every row where 
# the type column has "job" in it.
query = """SELECT score
            FROM `bigquery-public-data.hacker_news.full`
            WHERE type = "job" """

# check how big this query will be
hacker_news.estimate_query_size(query)

0.15883952286094427

In [8]:
# check out the scores of job postings (if the 
# query is smaller than 1 gig)
job_post_scores = hacker_news.query_to_pandas_safe(query)

In [9]:
job_post_scores.score.mean()

2.0983834176336407