# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
hacker_news = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="hacker_news")

# print the first couple rows of the "comments" table
hacker_news.head("comments")

         id  by author        time   ...      parent deleted  dead ranking
0   2701393  5l     5l  1309184881   ...     2701243    None  None       0
1   5811403  99     99  1370234048   ...     5804452    None  None       0
2     21623  AF     AF  1178992400   ...       21611    None  None       0
3  10159727  EA     EA  1441206574   ...    10159396    None  None       0
4   2988424  Iv     Iv  1315853580   ...     2988179    None  None       0

[5 rows x 10 columns]

# Question
Using the Hacker News dataset in BigQuery, answer the following questions:

#### 1) How many stories (use the "id" column) are there of each type (in the "type" column) in the full table?

In [2]:
hacker_news.head("full")

            by score        time   ...   descendants        id ranking
0         e12e  None  1401901749   ...          None   7846752    None
1          pja  None  1364125713   ...          None   5431785    None
2          hvs  None  1242152578   ...          None    605908    None
3  user5994461  None  1493321626   ...          None  14214069    None
4   uptownfunk  None  1502496795   ...          None  14995506    None

[5 rows x 14 columns]

In [6]:
query = """SELECT type, COUNT(type) AS `Nombre`
            FROM `bigquery-public-data.hacker_news.full`
            GROUP BY type
            """
type_comments = hacker_news.query_to_pandas_safe(query)

type_comments

      type    Nombre
0    story   2947287
1  comment  14136753
2  pollopt     11909
3      job     10620
4     poll      1738

#### 2) How many comments have been deleted? (If a comment was deleted the "deleted" column in the comments table will have the value "True".)

In [13]:
query = """SELECT type, COUNT(type) AS `Nombre`
            FROM `bigquery-public-data.hacker_news.full`
            GROUP BY type,deleted
            HAVING  STARTS_WITH(type, "comment") and deleted = True
            """
number_deleted = hacker_news.query_to_pandas_safe(query)

number_deleted

      type  Nombre
0  comment  384912

#### 3) Modify one of the queries you wrote above to use a different aggregate function.
You can read about aggregate functions other than COUNT() **[in these docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#aggregate-functions)**

In [15]:
query = """
    SELECT COUNTIF(STARTS_WITH(type, "comment")=True) AS `Number_deleted_comments`
    FROM `bigquery-public-data.hacker_news.full`
    WHERE deleted = True
            """

number_deleted = hacker_news.query_to_pandas_safe(query)

number_deleted

   Number_deleted_comments
0                   384912

---

# Keep Going
[Click here](https://www.kaggle.com/dansbecker/order-by) to move on and learn about the ORDER BY clause.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This exercise is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*