# Introduction

Congratulations! In this section we will put all of the things that we learned together to do some truly interesting things with some datasets. 

The exercises in this section are therefore more difficult! 

While working through the exercises, tTry using method chaning syntax (use the resource below if you don't know what method chaining means). Also, take advantage the hints we provide.

# Relevant Resource

* **[Method chaining resource](https://www.kaggle.com/residentmario/method-chaining-reference). **

# Set Up
**First, fork this notebook using the "Fork Notebook" button towards the top of the screen.**
Run the code cell below to load data and the libraries you'll use.

In [2]:
import pandas as pd
pd.set_option('max_rows', 5)

import sys
sys.path.append('../input/advanced-pandas-exercises/')
from method_chaining import *

chess_games = pd.read_csv("../input/chess/games.csv")
chess_games.head(5)

         id     ...       opening_ply
0  TZJHLljE     ...                 5
1  l1NXvwaE     ...                 4
2  mIICvQHh     ...                 3
3  kWKvrqYL     ...                 3
4  9tXo1AUZ     ...                 5

[5 rows x 16 columns]

# Checking Answers

Check your answers in each of the exercises that follow using the  `check_qN` function provided in the code cell above (replacing `N` with the number of the exercise). For example here's how you would check an incorrect answer to exercise 1:

In [ ]:
check_q1(pd.DataFrame())

For the first set of questions, if you use `check_qN` on your answer, and your answer is right, a simple `True` value will be returned.

For the second set of questions, using this function to check a correct answer will present you will an informative graph!

If you get stuck, you may also use the companion `answer_qN` function to print the answer outright.

# Preview Data
Run the cell below to preview the data

In [ ]:
chess_games.head(1)

# Exercises

**Exercise 1**: It's well-known that in the game of chess, white has a slight first-mover advantage against black. Can you measure this effect in this dataset? Use the `winner` column to create a `pandas` `Series` showing how often white wins, how often black wins, and how often the result is a tie, as a ratio of total games played. In other words, a `Series` that looks something like this:

    white    0.48
    black    0.44
    draw     0.08
    Name: winner, dtype: float64
    
Hint: use `len` to get the length of the initial `DataFrame`, e.g. the count of all games played.

In [3]:
chess_games.groupby('winner').winner.count().div(chess_games.winner.count())

winner
black    0.454033
draw     0.047363
white    0.498604
Name: winner, dtype: float64

**Exercise 2**: The `opening_name` field of the `chess_games` dataset provides interesting data on what the most commonly used chess openings are.  However, it gives a bit _too_ much detail, including information on the variation used for the most common opening types. For example, rather than giving `Queen's Pawn Game`, the dataset often includes `Queen's Pawn Game: Zukertort Variation`.

This makes it a bit difficult to use for categorical purposes. Here's a function that can be used to separate out the "opening archetype":

 ```python
 lambda n: n.split(":")[0].split("|")[0].split("#")[0].strip()
 ```

Use this function to parse the `opening_name` field and generate a `pandas` `Series` counting how many times each of the "opening archetypes" gets used. Hint: use a map.

In [5]:
parsing = lambda n: n.split(":")[0].split("|")[0].split("#")[0].strip()
chess_games.opening_name.map(parsing).value_counts()

Sicilian Defense      2632
French Defense        1412
                      ...
Australian Defense       1
Global Opening           1
Name: opening_name, Length: 143, dtype: int64

**Exercise 3**: In this dataset various players play variably number of games. Group the games by `{white_id, victory_status}` and count how many times each white player ended the game in `mate` , `draw`, `resign`, etcetera. The name of the column counting how many times each outcome occurred should be `n` (hint: `rename` or `assign` may help).

In [6]:
chess_games.groupby(['white_id', 'victory_status']).victory_status.count()

chess_games.assign(n=0).groupby(['white_id', 'victory_status']).n.apply(len).reset_index()

                  white_id victory_status  n
0                  --jim--           mate  1
1      -l-_jedi_knight_-l-           mate  1
...                    ...            ... ..
11487               zzzbbb         resign  1
11488              zzzimon         resign  1

[11489 rows x 3 columns]

**Exercise 4**: There are a lot of players in the dataset who have only played one or a small handful of games. Create a `DataFrame` like the one in the previous exercise, but only include users who are in the top 20 users by number of games played as white. See if you can do this using method chaining alone! Hint: reuse the code from the previous example. Then, use `pipe`.

In [7]:
top_20 = pd.concat([chess_games.white_id,chess_games.black_id]).value_counts().sort_values(ascending=False).iloc[:20]

chess_games.assign(
    top_player=chess_games.apply(lambda df: 1 if (df.white_id in top_20) or (df.black_id in top_20 ) else 0, 
                        axis='columns'))

             id  rated     ...      opening_ply  top_player
0      TZJHLljE  False     ...                5           0
1      l1NXvwaE   True     ...                4           0
...         ...    ...     ...              ...         ...
20056  b0v4tRyF   True     ...                4           0
20057  N8G2JHGG   True     ...                3           0

[20058 rows x 17 columns]

Next, let's do some visual exercises.

The next exercise uses the following dataset:

In [8]:
kepler = pd.read_csv("../input/kepler-exoplanet-search-results/cumulative.csv")
kepler

      rowid     kepid kepoi_name    ...             ra        dec koi_kepmag
0         1  10797460  K00752.01    ...      291.93423  48.141651     15.347
1         2  10797460  K00752.02    ...      291.93423  48.141651     15.347
...     ...       ...        ...    ...            ...        ...        ...
9562   9563  10147276  K07987.01    ...      294.16489  47.176281     15.385
9563   9564  10156110  K07989.01    ...      297.00977  47.121021     14.826

[9564 rows x 50 columns]

**Exercise 5**: The Kepler space observatory is in the business of finding potential exoplanets (planets orbiting stars other suns) and, after collecting the evidence, generating whether or not to confirm, decline to confirm, or deny that a given space body is, in fact, an exoplanet. In the dataset above, the "before" status of the body is `koi_pdisposition`, and the "after" status is `koi_disposition`. 

Using the dataset above, generate a `Series` counting all of the possible transitions between pre-disposition and post-disposition. In other words, generate a `Series` whose index is a `MultiIndex` based on the `{koi_pdisposition, koi_disposition}` fields, and whose values is a count of how many times each possible combination occurred.

In [9]:
kepler.groupby(['koi_pdisposition','koi_disposition']).rowid.count()

koi_pdisposition  koi_disposition
CANDIDATE         CANDIDATE          2248
                  CONFIRMED          2248
FALSE POSITIVE    CONFIRMED            45
                  FALSE POSITIVE     5023
Name: rowid, dtype: int64

The next few exercises use the following datasets:

In [10]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

In [11]:
ramen_reviews = pd.read_csv("../input/ramen-ratings/ramen-ratings.csv", index_col=0)
ramen_reviews.head()

                   Brand   ...   Top Ten
Review #                   ...
2580           New Touch   ...       NaN
2579            Just Way   ...       NaN
2578              Nissin   ...       NaN
2577             Wei Lih   ...       NaN
2576      Ching's Secret   ...       NaN

[5 rows x 6 columns]

**Exercise 6**: As we demonstrated in previous workbooks, the `points` column in the `wine_reviews` dataset is measured on a 20-point scale between 80 and 100. Create a `Series` which normalizes the ratings so that they fit on a 0-to-5 scale instead (e.g. a score of 80 translates to 1 star, while a score of 100 is five stars), and returns the count of how many times each of those values occurs. Set the `Series` name to "Wine Ratings", and sort by index value (ascending).

In [12]:
wine_reviews['points_reduce'] = round(4*(wine_reviews.points-wine_reviews.points.min())/(wine_reviews.points.max()-wine_reviews.points.min()),0)+1
wine_reviews.points_reduce.value_counts().sort_values(ascending=False).rename_axis("Wine Ratings")

Wine Ratings
3.0    65815
2.0    48568
4.0    12534
1.0     2925
5.0      129
Name: points_reduce, dtype: int64

**Exercise 7**: The `Stars` column in the `ramen_reviews` dataset is the ramen equivalent to the similar data points in `wine_reviews`. Luckily it is already on a 0-to-5 scale, but it has some different problems...create a `Series` counting how many ramens earned each of the possible scores in the dataset. Convert the `Series` to the `float64` dtype and drop rames whose rating is `"Unrated"`. Set the name of the `Series` to "Ramen Ratings". Sort by index value (ascending).

In [13]:
ramen_reviews.loc[ramen_reviews.Stars != "Unrated"].Stars.astype('float64').value_counts().sort_index().rename_axis("Ramen Ratings")

Ramen Ratings
0.00     26
0.10      1
       ...
4.75     64
5.00    386
Name: Stars, Length: 42, dtype: int64

**Exercise 8**: We can see from the result of the previous exercise that whilst the wine reviewers stick to a strict 20-point scale, ramen reviews occassionally deviate into fractional numbers. Modify your answer to the previous exercise by rounding review scores to the nearest half-point (`{0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5}`). So for example a score of 4.4 should round to 4.5, a score of 4.6 to 4.5, and so on.

In [14]:
#ramen_reviews.Stars.map(lambda s:round(s*2,0)/2)
(ramen_reviews
    .Stars
    .replace('Unrated', None)
    .dropna()
    .astype('float64')
    .map(lambda s:round(s*2,0)/2)
    .value_counts()
    .rename_axis("Ramen Reviews")
    .sort_index())

Ramen Reviews
0.0     38
0.5     14
      ...
4.5    140
5.0    450
Name: Stars, Length: 11, dtype: int64

# Congratulations

You've finished the Pandas track.  Many data scientist feel efficiency with Pandas is the most useful and practical skill they have, because it allows you to progress quickly in any project you have.

You can take advantage of your Pandas skills by entering a [Kaggle Competition](https://www.kaggle.com/competitions) or answering a question you find interesting using [Kaggle Datasets](https://www.kaggle.com/datasets).