In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('thanksgiving.csv',encoding="Latin-1")

In [5]:
data.head(2)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central

In [10]:
for column in data.columns.tolist():
    print(column[:60])

RespondentID
Do you celebrate Thanksgiving?
What is typically the main dish at your Thanksgiving dinner?
What is typically the main dish at your Thanksgiving dinner?
How is the main dish typically cooked?
How is the main dish typically cooked? - Other (please speci
What kind of stuffing/dressing do you typically have?
What kind of stuffing/dressing do you typically have? - Othe
What type of cranberry saucedo you typically have?
What type of cranberry saucedo you typically have? - Other (
Do you typically have gravy?
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which of these side dishes aretypically served at your Thank
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which type of pie is typically served at your Thanksgiving d
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Which of these desserts do you typically have at Thanksgivin
Do you typically pray before or after the Thanksgiving meal?
How far will you travel for Thanksgiving?
Will you watch any of the following programs on Thanksgiving
What's the age cutoff at your "kids' table" at Thanksgiving?
Have you ever tried to meet up with hometown friends on Than
Have you ever attended a "Friendsgiving?"
Will you shop any Black Friday sales on Thanksgiving Day?
Do you work in retail?
Will you employer make you work on Black Friday?
How would you describe where you live?
Age
What is your gender?
How much total combined money did all members of your HOUSEH
US Region

In [14]:
data['Do you celebrate Thanksgiving?'].value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [17]:
positive_answers = data['Do you celebrate Thanksgiving?']=='Yes'
data = data[positive_answers]

In [18]:
data['Do you celebrate Thanksgiving?'].value_counts()

Yes    980
Name: Do you celebrate Thanksgiving?, dtype: int64

In [19]:
column = 'What is typically the main dish at your Thanksgiving dinner?'
data[column].value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [20]:
column_gravy = 'Do you typically have gravy?'
data[column_gravy][data[column]=='Tofurkey']

4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

In [23]:
column_apple = 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple'
apple_isnull = data[column_apple].isnull()
apple_isnull[:4]

0    False
1    False
2    False
3     True
Name: Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple, dtype: bool

In [24]:
column_pumpkin = 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin'
pumpkin_isnull = data[column_pumpkin].isnull()
pumpkin_isnull[:4]

0     True
1    False
2    False
3    False
Name: Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin, dtype: bool

In [25]:
column_pecan = 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan'
pecan_isnull = data[column_pecan].isnull()
pecan_isnull[:4]

0     True
1     True
2    False
3    False
Name: Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan, dtype: bool

In [28]:
no_pies = apple_isnull & pecan_isnull & pumpkin_isnull
no_pies.value_counts()

False    876
True     104
dtype: int64

In [36]:
import numpy as np

def convert_age(value):
    if pd.isnull(value):
        return None
    slices = value.split()
    return int(slices[0].replace('+',''))

print(convert_age(np.nan))
print(convert_age('60+'))
print(convert_age('20 - 30'))

None
60
20

In [37]:
data['int_age'] = data['Age'].apply(convert_age)
data['int_age'].head(5)

0    18.0
1    18.0
2    18.0
3    30.0
4    30.0
Name: int_age, dtype: float64

In [38]:
data['int_age'].value_counts()

45.0    269
60.0    258
30.0    235
18.0    185
Name: int_age, dtype: int64

In [43]:
data['int_age'].value_counts().sort_values(ascending=False)

45.0    269
60.0    258
30.0    235
18.0    185
Name: int_age, dtype: int64

In [44]:
data['int_age'].value_counts().sort_index(ascending=True)

18.0    185
30.0    235
45.0    269
60.0    258
Name: int_age, dtype: int64

In [46]:
def convert_revenue(value):
    if pd.isnull(value):
        return None
    
    first_term = value.split()[0]
    
    if(first_term=='Prefer'):
        return None
    else:       
        return int(first_term.replace('$','').replace(',',''))

print(convert_revenue(np.nan))
print(convert_revenue('$100,000 to $124,999'))
print(convert_revenue('Prefer not to answer'))

None
100000
None

In [47]:
column_revenue = 'How much total combined money did all members of your HOUSEHOLD earn last year?'
int_income = data[column_revenue].apply(convert_revenue)
int_income[:5]

0     75000.0
1     50000.0
2         0.0
3    200000.0
4    100000.0
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: float64

In [49]:
int_income.value_counts().sort_values(ascending=False)

25000.0     166
50000.0     127
75000.0     127
100000.0    109
200000.0     76
10000.0      60
0.0          52
125000.0     48
150000.0     38
175000.0     26
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [51]:
int_income.value_counts().sort_index(ascending=True)

0.0          52
10000.0      60
25000.0     166
50000.0     127
75000.0     127
100000.0    109
125000.0     48
150000.0     38
175000.0     26
200000.0     76
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [52]:
data['int_income']=int_income

In [53]:
column_travel = 'How far will you travel for Thanksgiving?'

In [59]:
less_150000 = data[column_travel][data['int_income']<=150000]
less_150000.head(5)

0    Thanksgiving is local--it will take place in t...
1    Thanksgiving is out of town but not too far--i...
2    Thanksgiving is local--it will take place in t...
4    Thanksgiving is out of town but not too far--i...
5    Thanksgiving is happening at my home--I won't ...
Name: How far will you travel for Thanksgiving?, dtype: object

In [60]:
less_150000.value_counts().sort_index()

Thanksgiving is happening at my home--I won't travel at all                         298
Thanksgiving is local--it will take place in the town I live in                     212
Thanksgiving is out of town and far away--I have to drive several hours or fly       58
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    159
Name: How far will you travel for Thanksgiving?, dtype: int64

In [63]:
more_150000 = data[column_travel][data['int_income']>=150000]
more_150000.head(5)

3     Thanksgiving is local--it will take place in t...
15    Thanksgiving is local--it will take place in t...
16    Thanksgiving is local--it will take place in t...
25    Thanksgiving is out of town but not too far--i...
39    Thanksgiving is happening at my home--I won't ...
Name: How far will you travel for Thanksgiving?, dtype: object

In [64]:
more_150000.value_counts().sort_index()

Thanksgiving is happening at my home--I won't travel at all                         66
Thanksgiving is local--it will take place in the town I live in                     34
Thanksgiving is out of town and far away--I have to drive several hours or fly      15
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    25
Name: How far will you travel for Thanksgiving?, dtype: int64

In [67]:
column_friend = "Have you ever tried to meet up with hometown friends on Thanksgiving night?"
column_friend_giving = 'Have you ever attended a "Friendsgiving?"'

tcd = data.pivot_table(index=column_friend,
                       columns=column_friend_giving,
                       values='int_age')
tcd

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [68]:
tcd2 = data.pivot_table(index=column_friend,
                       columns=column_friend_giving,
                       values='int_income')
tcd2

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842